@model IEnumerable<UserServiceModel>

@{
    ViewBag.Title = "Всички потребители";
    int studentNumber = 0;
}
<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="col-4 p-0 justify-content-end">
    <form class="d-flex" asp-area="Admin" asp-controller="User" asp-action="All">
        <span class="btn-group">
            <input class="form-control" type="search" name="searchText" >
            <button class="p-1 ml-2 btn btn-sm btn-success" type="submit">Търсене</button>    
        </span>
    </form>
    <div class="col-4 p-0 justify-content-start">
        <a class="p-1 ml-2 btn btn-sm btn-secondary" asp-area="Admin" asp-controller="User" asp-action="All">Назад</a>
    </div>
</div>
<br/>
<table class="table table-striped">
    <thead>
        <tr> 
            <th> studentNumber</th>
            <th><label>Имена на курсиста</label></th>   
            <th><label>Email</label></th>
            <th><label>Има записан курс</label></th>
            <td><label>Име на курса</label></td></th>
            <td><label>Телефонен номер на курсиста</label></td></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            studentNumber += 1;
            <tr>  
                <td>
                    @studentNumber
                </td>
                <td><label>@user.FullName</label></td>
                <td><label>@user.Email</label></td>
                <td>
                    @if (user.IsEnrolled)
                    {
                        <label>Да</label>

                    }
                    else
                    {
                        <label class="text-center">Не</label>
                    }
                </td>
                <td>
                    @if (user.Courses.Count()>0)
                    {
                        foreach(var course in user.Courses)
                        {
                            <label>@course</label>
                            <br/>
                        }
                    }
                    else
                    {
                        <label class="text-center">Няма записан курс!</label>
                    }
                </td>
                <td><label>@user.PhoneNumber</label></td>
            </tr>
        }
    </tbody>
</table>
