@using NailCreativeAcademy.Core.Contracts.Course
@model ICollection<CourseViewModel>
@inject ICourseService courseService

@{
    ViewData["Title"] = "Курсове";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr/>

<div class="text-center row">
    @foreach (var m in Model)
    {
        <div class="card" style="width: 22rem;">
            <img src="~/image/Course/@m.Image" class="card-img-top" alt="" style="height : 16rem;width : 20rem;" />
            <div class="card-body">
                <h4 class="card-title mt-2">@m.Name</h4>                
                <h5 class="card-title mt-1">Начало: @m.StartDate</h5>
                <hr />
                <h3 class="card-title align-content-sm-center mt-1" >@m.Price лв.</h3>
            </div>
            <a asp-controller="Course" asp-action="Details" asp-route-id="@m.Id" class="btn btn-warning mb-2 w-100 p-3 fw-bold">Информация за курса</a>
            @if (User?.Identity?.IsAuthenticated ?? false)
            {
                if (!await courseService.MyCourseExists(User.GetUserId(), m.Id))
                {
                    <form class="input-group-sm" asp-controller="Course" asp-action="Join" asp-route-id="@m.Id">
                        <input type="submit" value="Добави" class="fs-6 btn btn-info mb-2 w-100 p-3 fw-bold" />
                    </form>
                }
               <a asp-controller="Course" asp-action="Edit" asp-route-id="@m.Id" class="btn btn-warning mb-2 w-100 p-3 fw-bold">Редакция</a>
               <a asp-controller="Course" asp-action="Delete" asp-route-id="@m.Id" class="btn btn-danger mb-2 w-100 p-3 fw-bold">Премахване на курса</a>
                
            }
            else 
            {
                <form class="input-group-sm" asp-controller="Course" asp-action="Join" asp-route-id="@m.Id">
                    <input type="submit" value="Добави" class="fs-6 btn btn-info mb-2 w-100 p-3 fw-bold" />
                </form>
            }
        </div>
    }
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}