@model CourseFormModel
@{
    ViewData["Title"] = "Добави курс";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div class="form-group">
                <label asp-for="@Model.Image" class="control-label"></label>
                <input asp-for="@Model.Image" class="form-control" />
                <span asp-validation-for="@Model.Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Name" class="control-label"></label>
                <input asp-for="@Model.Name" class="form-control" />
                <span asp-validation-for="@Model.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Details" class="control-label"></label>
                <input asp-for="@Model.Details" class="form-control" />
                <span asp-validation-for="@Model.Details" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.StartDate" class="control-label"></label>
                <input asp-for="@Model.StartDate" class="form-control" />
                <span asp-validation-for="@Model.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.EndDate" class="control-label"></label>
                <input asp-for="@Model.EndDate" class="form-control" />
                <span asp-validation-for="@Model.EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Duration" class="control-label"></label>
                <input asp-for="@Model.Duration" class="form-control" />
                <span asp-validation-for="@Model.Duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Price" class="control-label"></label>
                <input asp-for="@Model.Price" class="form-control" />
                <span asp-validation-for="@Model.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.CourseTypeId" class="form-label-add-edit">Select Category</label>
                <select asp-for="@Model.CourseTypeId" class="form-control" aria-required="true">
                    <option disabled selected value="">Select type...</option>
                    @foreach (var type in Model.CourseTypes)
                    {
                        <option value="@type.Id">@type.Name</option>
                    }
                </select>
                <span asp-validation-for="@Model.CourseTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Trainer" class="control-label"></label>
                <input asp-for="@Model.Trainer" class="form-control" />
                <span asp-validation-for="@Model.Trainer" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}